@model EGT_OTA.Models.Video
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>编辑</title>
    <link href="@Url.Content("~/Scripts/Bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Template/Styles/tip.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/ztree/zTreeStyle/zTreeStyle.css")" type="text/css">
</head>
<body>
    <form id="form1">
        <div id="message" style="display: none">
        </div>
        <div class="main" style="width: 98%; margin: 15px auto">
            <table id="tbl" class="table table-hover table-bordered">
                <tr class="tdbg" align="center">
                    <td class="head">
                        <strong>名称：</strong>
                    </td>
                    <td>
                        <input type="text" id="Name" class="form-control" maxlength="50"  placeholder="请填写名称"
                        value="@Model.Name" datacol="yes" err="名称" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr class="tdbg" align="center">
                    <td class="head" style="vertical-align: top;">
                        <strong>链接：</strong>
                    </td>
                    <td>
                        <input type="file" id="video" name="upload" />
                        <input id="FileUrl" type="text" class="form-control" maxlength="100" datacol="yes" err="链接" checkexpession="NotNull" value="@Model.FileUrl" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
<script type="text/javascript" src="@Url.Content("~/Admin/js/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Admin/js/common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/learunui-framework.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/validator/learunui-validator.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ztree/jquery.ztree.core.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ztree/jquery.ztree.excheck.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#video").uploadify({
            swf: "/Script/uploadify/uploadify.swf?var=" + Math.random() * 1000,
            uploader: "/Upload/UploadFile?folder=Video",
            auto: true,
            multi: false,
            removeTimeout: 1,
            buttonText: "请上传视频",
            fileSizeLimit: "10MB", //大小限制,如果为整数型则表示以KB为单位的大小,如果是字符串,则可以使用(B, KB, MB, or GB)为单位，比如’2MB’,如果设置为0则表示无限制
            fileTypeDesc: "选择视频文件", //选择文件对话框底部文件类型显示的文字
            fileTypeExts: "*.mp4;*.avi;*.flv;*.3gp;*.rmvb;", //筛选可选择的文件类型
            onUploadSuccess: function (file, data, response) {
                data = JSON.parse(data);
                if (data.result) {
                    $("#FileUrl").val(data.message);
                } else {
                    warning(data.message);
                }
            },
            onQueueComplete: function () {
                $("#music").uploadify("cancel", "*");
            }
        });
    });

    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var oData = {};
            oData["ID"] = "@Model.ID";
            oData["Name"] = $.trim($("#Name").val());
            oData["FileUrl"] = $.trim($("#FileUrl").val());
            $.ajax({
                type: "POST",
                url: "/Video/Manage",
                cache: false,
                dataType: "json",
                data: $.param(oData),
                success: function (data) {
                    var message = "";
                    var result = 0;
                    if (data.result) {
                        message = "成功";
                        result = 1;
                    }
                    else {
                        message = data.message;
                    }
                    tipDialog(message, 3, result);
                    if (data.result) {
                        top.frames[tabiframeId()].windowload();
                        closeDialog();
                    }
                }
            });
        }, 200);
    }
</script>
</html>
