@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="@Url.Content("~/Content/Template/Styles/learunui-framework.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Template/Scripts/jqgrid/css/jqgrid.css")" rel="stylesheet" />
</head>
<body>
    <div id="layout" class="layout">
        <!--中间-->
        <div class="layoutPanel layout-center">
            <div class="btnbartitle">
                <div>
                    文章类型列表<span id="CenterTitle"></span>
                </div>
            </div>
            <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
                <div class="PartialButton">
                    <div class="divSearch">
                        <button class="btn btn-default fr" id="btnReset">
                            重置</button>
                        <button class="btn btn-primary fr" id="btnSearch">
                            查询</button>
                        <input type="text" id="txtName" class="text form-control fr" placeholder="请填写名称" />
                    </div>
                </div>
            </div>
            <table id="gridTable">
            </table>
            <div id="pager" class="scroll">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/learunui-framework.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/jqgrid/jquery-ui-custom.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/jqgrid/grid.locale-cn.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Template/Scripts/jqgrid/jqGrid.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        PartialButton("31");
        GetGrid();

        //重置
        $("#btnReset").click(function () {
            $("#txtName").val("");
            var url = "/ArticleType/List";
            $("#gridTable").jqGrid('setGridParam', { url: url }).trigger('reloadGrid');
        });

        //筛选
        $("#btnSearch").click(function () {
            var Name = $.trim($("#txtName").val());

            var url = new StringBuilder();
            url.append("/ArticleType/List?1=1");
            if (Name != "") {
                url.append("&Name=" + escape(Name));
            }
            $("#gridTable").jqGrid('setGridParam', { url: url.toString() }).trigger('reloadGrid');
        });
    });
    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "/ArticleType/List",
            datatype: "json",
            height: $(window).height() - 133,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'ID', index: "ID", hidden: true },
                {
                    label: '图标', name: 'Cover', index: 'Cover', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<img src='" + cellvalue + "' style='width:90%;margin:5%;' />";
                    }
                },
                { label: '名称', name: 'Name', index: "Name", width: 200 },
                { label: '状态', name: 'Status', index: 'Status', width: 45, align: 'center' },
                { label: '创建时间', name: 'CreateDate', index: "CreateDate", width: 150, align: "center" }
            ],
            viewrecords: true,
            pager: 'pager', //分页工具栏 
            rowNum: 20,
            rowList: [10, 20, 30], //可调整每页显示的记录数
            sortname: 'SortCode',
            sortorder: 'asc',
            multiselect: false, //是否支持多选 
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
    }
    //新增
    function btn_add() {
        var url = "/ArticleType/Edit";
        openDialog(url, "Form", "新增", 800, 600, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            var url = "/ArticleType/Edit?id=" + KeyValue;
            openDialog(url, "Form", "编辑", 800, 600, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'ids=' + KeyValue;
            delConfig('/ArticleType/Delete', delparm, KeyValue.split(",").length);
        }
    }
    //审核
    function btn_audit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'status=1&ids=' + KeyValue;
            doConfig('审核', '/ArticleType/Audit', delparm, KeyValue.split(",").length);
        }
    }
    //取消审核
    function btn_noaudit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) {
            var delparm = 'status=0&ids=' + KeyValue;
            doConfig('取消审核', '/ArticleType/Audit', delparm, KeyValue.split(",").length);
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入  
    }
    //自应高度
    $(window).resize(function () {
        $("#gridTable").setGridHeight($(window).height() - 133);
    });
</script>
</html>
